.container
  #profile-create-update-form.well
    = form_for [@user, @profile], :url => user_profile_path(@user, @profile), :html => {:multipart => true} do |form|
      - if @profile.errors.any?
        .error_messages
          %h2 Form is invalid
          %ul
            - for message in @profile.errors.full_messages
              %li= message
      .field
        = form.label :creative
        = form.text_area :creative, :class => 'required'
      .field
        = form.label :gender
        = form.select :gender, options_for_select(['Male', 'Female'])
      .field
        = form.label :phone
        = form.text_field :phone, :class => 'required'
      .field
        = form.label :email
        = form.text_field :email, :class => 'required'
      .field
        = render :partial => 'shared/upload_image', :locals => { :form => form }
        = image_tag @profile.image_url
      .actions
        = form.submit "Save", :class => 'btn btn-primary btn-large'
