.container
  .row
    .span6
      #profile-basic-info.well
        %h2
          = @user.first_name
          = @user.last_name

        %h3
          Areas
          - @user.areas.each do |area|
            = area.name
        %h4
          Neighborhoods
        %ul
          - @user.neighborhoods.uniq.each do |neighborhood|
            %li
              = neighborhood.name
        %h5
          About
          = @user.first_name
        = @profile.creative
        = @profile.gender
        %h6 Trains at:
        - @user.locations.each do |location|
          = location.name

        %h3
          Contact
          %h5
            Phone
            = @profile.phone
          %h5
            Email
            = @profile.email
    .span4
      = image_tag @user.image_url(:thumb)
