.embedded-browser.well
  .row-fluid
    .span3
      = render :partial => "admin/proxied_pages/embedded_browser_search_panel"
    .span1
      .loading-indicator{:display => 'none'}
        = image_tag "ajax-loader.gif"
    .span7
      .tabbable
        %ul.nav.nav-tabs.nav-pills
          %li.active
            %a{:class => "embedded-browser-nav-pill", :href => "#web-search-pane", "data-toggle" => "tab"}
              Web Results
          %li
            %a{:class => "embedded-browser-nav-pill", :href => "#image-search-pane", "data-toggle" => "tab"}
              Images
          %li
            %a{:class => "embedded-browser-nav-pill", :href => "#video-search-pane", "data-toggle" => "tab"}
              Videos
          %li
            %a{:id => "collapse-search-results", "data-toggle" => "tab"}
              Collapse Results
  .row-fluid
    .tab-content
      #web-search-pane.tab-pane.active
        = render :partial => "admin/proxied_pages/embedded_browser_window",
                 :locals => { :browser_id => "web-search", :proxied_url => "https://www.google.com/search?" }
      #image-search-pane.tab-pane
        = render :partial => "admin/proxied_pages/embedded_browser_window",
                 :locals => { :browser_id => "image-search", :proxied_url => "https://www.google.com/search?tbm=isch" }
      #video-search-pane.tab-pane
        = render :partial => "admin/proxied_pages/embedded_browser_window",
                 :locals => { :browser_id => "video-search", :proxied_url => "https://www.google.com/search?tbm=vid" }
