#modal-import-routine.modal.hide.fade
  .modal-body
    = render :partial => "routines/import_routine", :locals => { :via_ajax => true }
#modal-activity-builder.modal.hide.fade
  .modal-body
    = render :partial => "activities/create_or_update", :locals => { :via_ajax => true }
#routine-builder-panel.container-fluid
  = render :partial => "activity_sets/group", :locals => { :template => true }
  #search-browse-choose-panel.row
    .span6.well
      #search-row.row
        .span6
          #activity-search-widget
            %input#activity-search-box.input-medium{:tabindex => "1", :type => "text", :placeholder => "Search"}
            %i.icon-search
          .label.label-important.pull-right
            Search or browse activities by name, type, anatomy, equipment
            %br
            or attributes. Click on activities to add them to the routine.
      #facets-and-activities-row.row
        #activity-facets-panel.span2
          #selected-facet-panel
            #applied-filters-label.label.label-important
              Applied filters, click to remove
            %ul#selected-facet-list.unstyled.well.well-small
          #activity-type-list.accordion.has-tooltip-right{:rel => "tooltip", :title => "Filter activities by type"}
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#activity-type-list", "data-toggle" => "collapse", :href => "#collapse-type"}
                  Type of Activity
              #collapse-type.accordion-body.collapse.in
                .accordion-inner
                  - @activity_types.each do |activity_type|
                    .facet.activity-type
                      %a{:id => "facet-#{activity_type.name.to_identifier}"}
                        = activity_type.name
                        %span.facet-count
                      %span.faceting-control
                        = activity_type.name
          #non-type-facets
            #body-part-list.accordion.has-tooltip-right{:rel => "tooltip", :title => "Filter activities by anatomy"}
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "body-part-list", "data-toggle" => "collapse", :href => "#collapse-body-part-list"}
                    Anatomy Involved
                #collapse-body-part-list.accordion-body.collapse.in
                  .accordion-inner
                    %ul.unstyled
                      - group_body_parts_by_region(@body_parts).each_pair do |region, body_parts|
                        %li
                          .facet.body_part_region
                            %a{:id => "facet-#{region.to_identifier}"}
                              = region
                              %span.facet-count
                            %span.faceting-control
                              = region
                          %ul
                            - body_parts.each do |body_part|
                              %li.nested
                                .facet.body_part_name
                                  %a.has-tooltip-right{:id => "facet-#{body_part.name.to_identifier}", :rel => "tooltip", :title => image_tag(body_part.image_url(:thumb)),
                                                       "data-delay" => 500, "data-container"=>"body"}
                                    = body_part.name
                                    %span.facet-count
                                  %span.faceting-control
                                    = body_part.name
            #activity-attribute-list.accordion.has-tooltip-right{:rel => "tooltip", :title => "Filter activities by attributes"}
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#activity-attribute-list", "data-toggle" => "collapse", :href => "#collapse-activity-attributes"}
                    Activity Attributes
                #collapse-activity-attributes.accordion-body.collapse.in
                  .accordion-inner
                    - @activity_attributes.each do |attribute|
                      .facet
                        %a{:id => "facet-#{attribute.name.to_identifier}"}
                          = attribute.name
                          %span.facet-count
                        %span.faceting-control
                          = attribute.name
            #implement-list.accordion.has-tooltip-right{:rel => "tooltip", :title => "Filter activities by implements"}
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "implement-list", "data-toggle" => "collapse", :href => "#collapse-implement-list"}
                    Equipment Used
                #collapse-implement-list.accordion-body.collapse.in
                  .accordion-inner
                    %ul.unstyled
                      - group_implements_by_category(@implements).each_pair do |category, implements|
                        %li
                          .facet.implement_category
                            %a.ui-state-default{:id => "facet-#{category.to_identifier}"}
                              = category
                              %span.facet-count
                            %span.faceting-control
                              = category
                          %ul
                            - implements.each do |implement|
                              %li.nested
                                .facet.implement
                                  %a.has-tooltip-right{:id => "facet-#{implement.name.to_identifier}", :rel => "tooltip",
                                                       :title => image_tag(implement.image_url(:thumb)), "data-delay" => 500, "data-container"=>"body"}
                                    = implement.name
                                    %span.facet-count
                                  %span.faceting-control
                                    = implement.name
        #facet-filtered-activities-panel.span4
          = render :partial => "shared/button", :locals => { :button_id => "new-activity-button", :button_class => "btn-primary", |
                                                :message => "New Activity"}                                                        |
          %ul#activity-list.nav.nav-tabs.nav-stacked
            - @activities.each do |activity|
              = render :partial => "routines/activity_list_item", :locals => { :activity => activity, :performance => false }
    #routine-form-panel.span6
      .well
        = form_for [@client, @routine], :remote => via_ajax do |form|
          #basic-routine-info
            = hidden_field_tag "routine[trainer]", @trainer.login
            .row
              .span2
                = form.label "routine[client]", "For Client"
              .span2
                - if @client == current_user
                  = select_tag "routine[client]", options_for_select(@client_logins, :selected => current_user.login)
                - else
                  = hidden_field_tag "routine[client]", @client.login
                  %span
                    = @client.first_name
                    = @client.last_name
            .row
              .span2
                = form.label :name, "Routine Name"
              .span2
                = form.text_field :name, :tabindex => "3", :class => "input-xlarge required is_routine_name_unique",
                                  :minlength => @validations[:routine][:name][:minlength],
                                  :maxlength => @validations[:routine][:name][:maxlength]
            .row
              .span2
                = form.label :goal, "Routine Goal"
              .span3
                = form.text_field :goal, :tabindex => "4", :class => "required input-xlarge", :minlength => @validations[:routine][:goal][:minlength],
                                  :maxlength => @validations[:routine][:goal][:maxlength]
            -#.row
            -#  .span6
            -#    = render :partial => "shared/button", :locals => { :button_id => "import-routine-button",
            -#                                                       :button_class => "",
            -#                                                       :message => "Include Activity Sets from Another Routine" }
                -#= render :partial => "shared/button", :locals => { :button_id => "new-circuit-button",
                -#                                                   :button_class => "",
                -#                                                   :message => "New Circuit or Superset" }
          .row
            %ul#routine-activity-set-list.accordion.unstyled
              - group_activity_sets_by_group(@routine.activity_sets).each_pair do |group, activity_sets|
                = render :partial => "activity_sets/group", :locals => { :group => group, :activity_sets => activity_sets,
                                                                         :template => false }

              -#- @routine.activity_sets.each do |activity_set|
              -#  %li.activity-set-form.assigned
                  -#= render :partial => "activity_sets/form", :locals => { :activity => activity_set.activity, |
                  -#  :activity_set => activity_set, :template => false }                                       |
          .row
            .span2
              .btn-group
                - if via_ajax
                  = render :partial => "shared/button", :locals => { :button_id => "cancel-routine-builder-button",
                    :message => "Cancel" }
                - else
                  = link_to "Cancel", user_routines_path(current_user), :class => "btn"
                = render :partial => "shared/button", :locals => { :button_id => "save-routine",
                         :button_class => "btn-primary", :message => "Save Routine", :return_false => false }
