<div id="routine-builder-panel" class="container-fluid">



  <div class="row">
    <div id="activity-facets-panel" class="span3 well">
      <div class="well">
        <span class="label label-important">
          Search or browse to find activities, <br/> then add them to your routine
        </span>
      </div>
      <div class="clear-selections ui-state-default btn btn-primary">Clear Selections</div>

      <div class="accordion has-tooltip-right" rel="tooltip" title="Filter activities by type" id="activity-type-list">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#activity-type-list" href="#collapse-type">
              Type of Activity
            </a>
          </div>
          <div id="collapse-type" class="accordion-body collapse in">
            <div class="accordion-inner">
              <% @activity_types.each do |activity_type| %>
                <div class="facet">
                  <a>
                    <%= activity_type.name %>
                  </a>
                  <span class="faceting-control">
                    <%= activity_type.name %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <div class="accordion has-tooltip-right" rel="tooltip" title="Filter activities by anatomy" id="body-part-list">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="body-part-list" href="#collapse-body-part-list">
              Anatomy Involved
            </a>
          </div>
          <div id="collapse-body-part-list" class="accordion-body collapse in">
            <div class="accordion-inner">
              <ul class="unstyled">
                <% group_body_parts_by_region(@body_parts).each_pair do |region, body_parts| %>
                  <li>
                  <div class="facet">
                    <a>
                      <%= region %>
                    </a>
                    <span class="faceting-control">
                      <%= region %>
                    </span>
                  </div>
                  <ul>
                    <% body_parts.each do |body_part| %>
                      <li class="ui-state-default">
                        <div class="facet">
                          <a>
                            <%= body_part.name %>
                          </a>
                          <span class="faceting-control">
                           <%= body_part.name %>
                          </span>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="accordion has-tooltip-right" rel="tooltip" title="Filter activities by attributes" id="activity-attribute-list">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#activity-attribute-list" href="#collapse-activity-attributes">
              Activity Attributes
            </a>
          </div>
          <div id="collapse-activity-attributes" class="accordion-body collapse in">
            <div class="accordion-inner">
              <% @activity_attributes.each do |attribute| %>
                  <div class="facet">
                    <a>
                      <%= attribute.name %>
                    </a>
                    <span class="faceting-control">
                      <%= attribute.name %>
                    </span>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion has-tooltip-right" rel="tooltip" title="Filter activities by implements" id="implement-list">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="implement-list" href="#collapse-implement-list">
              Implements Involved
            </a>
          </div>
          <div id="collapse-implement-list" class="accordion-body collapse in">
            <div class="accordion-inner">
              <ul class="unstyled">
                <% group_implements_by_category(@implements).each_pair do |category, implements| %>
                  <li>
                    <div class="facet">
                      <a class="ui-state-default">
                        <%= category %>
                      </a>
                      <span class="faceting-control">
                        <%= category %>
                      </span>
                    </div>
                    <ul>
                      <% implements.each do |implement| %>
                        <li class="ui-state-default">
                          <div class="facet">
                            <a>
                              <%= implement.name %>
                            </a>
                            <span class="faceting-control">
                             <%= implement.name %>
                            </span>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="facet-filtered-activities-panel" class="span3">
      <div id="activity-search-widget" class="well has-tooltip-bottom" rel="tooltip" title="Search activities by name, type, anatomy, attributes, or implements">
        <input type="text" id="activity-search-box" tabindex="1" class="input-medium"/>
        <i class="icon-search"></i>
      </div>

      <ul id="activity-list" class="nav nav-tabs nav-stacked has-tooltip" rel="tooltip" title="Select activities to add them to your routine">
        <% @activities.each do |activity| %>
          <li id="<%= activity.name.to_identifier %>" class="activity facet-included-activity">
            <a>
              <%= activity.name %>
            </a>
            <%= render :partial => "activity_sets/form", :locals => { :activity => activity,
                                                                      :activity_set => nil, :template => true } %>

            <span class="faceting-control">
              <%= activity.name %>
            </span>
            <span class="faceting-control">
              <%= activity.activity_type.name %>
            </span>
            <% group_body_parts_by_region(activity.body_parts).each_pair do |region, body_parts| %>
              <span class="faceting-control">
                <%= region %>
              </span>
              <% body_parts.each do |body_part| %>
                <span class="faceting-control">
                  <%= body_part.name %>
                </span>
              <% end %>
            <% end %>

            <% group_implements_by_category(activity.implements).each_pair do |category, implements| %>
              <span class="faceting-control">
                <%= category %>
              </span>
              <% implements.each do |implement| %>
                <span class="faceting-control">
                  <%= implement.name %>
                </span>
              <% end %>
            <% end %>
            <% activity.activity_attributes.each do |attribute| %>
              <span class="faceting-control">
                <%= attribute.name %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="span9">
      <%= form_for [@client, @routine] do |form| %>
        <%= hidden_field_tag "routine[trainer]", @trainer.login %>
          <div class="well">
          <div class="row ">
            <div class="span2">
              <%= form.label "routine[client]", "Client" %>
            </div>
            <div class="span2">
              <% if @client == current_user %>
                <%= select_tag "routine[client]", options_for_select(@clients, :selected => current_user.login) %>
              <% else %>
                <%= hidden_field_tag "routine[client]", @client.login %>
                <span>
                  <%= @client.first_name %>
                  <%= @client.last_name %>
                </span>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div id="routine-basic-info">
              <div class="span2">
                <%= form.label :name, "Name" %>
                <%= form.text_field :name, :class => "required", :minlength => "4", :maxlength => "64" %>
              </div>
              <div class="span2">
                <%= form.label :goal, "Goal" %>
                <%= form.text_field :goal, :minlength => "16", :maxlength => "256" %>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <ul id="routine-activity-set-list" class="accordion">
              <% @routine.activity_sets.each do |activity_set| %>
                <%= render :partial => 'activity_sets/form', :locals => { :activity => activity_set.activity,
                                                                          :activity_set => activity_set, :template => false } %>
              <% end %>
            </ul>
          </div>
          <div class="row">
            <div class="span2 offset1">
              <%= submit_tag "Save", :class => "btn-large btn-primary"%>
            </div>
            <div class="span2">
              <%= link_to "Cancel", user_routines_path(current_user) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>