<div id="routine-builder-panel">  
  <div id="activity-facets-panel">
    
    <div id="activity-type-list">
      <div class="facet-header">Type of Activity</div>
      <ul>
        <% @activity_types.each do |activity_type| %>
          <li>
            <div class="facet">
              <%= activity_type.name %>
              <span class="faceting-control">
                <%= activity_type.name %>
              </span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="facet-header">Anatomy Involved</div>
    <ul id="body-part-list">
      <% group_body_parts_by_region(@body_parts).each_pair do |region, body_parts| %>
        <li>
          <div class="facet">
            <%= region %>
            <span class="faceting-control">
              <%= region %>
            </span>
          </div>
        </li>
        <ul>
          <% body_parts.each do |body_part| %>
            <li>
              <div class="facet">
                <%= body_part.common_name %> (<%= body_part.formal_name %>)
                <span class="faceting-control">
                  <%= body_part.formal_name %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </ul>
    
    <div class="facet-header">Implements</div>
    <ul id="implement-list">
      <% group_implements_by_category(@implements).each_pair do |category, implements| %>
        <li>
          <div class="facet">
            <%= category %>
            <span class="faceting-control">
              <%= category %>
            </span>
          </div>
        </li>
        <ul>
          <% implements.each do |implement| %>
            <li>
              <div class="facet">
                <%= implement.name %>
                <span class="faceting-control">
                  <%= implement.name %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>        
      <% end %>
    </ul>
  </div>
  
  <div id="facet-filtered-activities-panel">
    <div id="activity-list">
      <% @activities.each do |activity| %>
        <div id="<%= activity.name.gsub(/\s/, '').downcase %>" class="activity facet-included-activity">
          <%= activity.name %>
          <%= render :partial => 'activity_sets/form', :locals => { :activity => activity, :template => true } %>

          <span class="faceting-control">
            <%= activity.activity_type.name %>
          </span>
          <% group_body_parts_by_region(activity.body_parts).each_pair do |region, body_parts| %>
            <span class="faceting-control">
              <%= region %>
            </span>
            <% body_parts.each do |body_part| %>
              <span class="faceting-control">
                <%= body_part.formal_name %>
              </span> 
            <% end %>
          <% end %>        

          <% group_implements_by_category(activity.implements).each_pair do |category, implements| %>
            <span class="faceting-control">
              <%= category %>
            </span>
            <% implements.each do |implement| %>
              <span class="faceting-control">
                <%= implement.name %>
              </span> 
            <% end %>
          <% end %>        

        </div>
      <% end %>
    </div>
  </div>
  
  <div id="new-routine">
    <%= form_tag "/routines" do %>

      <%= label_tag "routine[client]", "New routine for" %>:
      <%= select_tag("routine[client]", options_for_select(@clients)) %>
      
      <div id="new-routine-basic-info">
        <%= label_tag "routine[name]", "Name" %>: <%= text_field_tag "routine[name]" %>
        <%= label_tag "routine[goal]", "Goal" %>: <%= text_field_tag "routine[goal]" %>
      </div>
      
      <!-- sortable container for all of our new sets -->
      <ul id="activity-sets">
        <% @routine.activity_sets.each do |activity_set| %>
          <%= render :partial => 'activity_sets/form', :locals => { :activity => activity_set.activity, :template => false } %>
        <% end %>        
      </ul>
  
      <%= submit_tag "Create Routine" %>
  
    <% end %>
    
  </div>

</div>