#modal-import-routine.modal.hide.fade
  .modal-body
    = render :partial => "routines/import_routine", :locals => { :via_ajax => true }
#modal-activity-builder.modal.hide.fade
  .modal-body
    = render :partial => "activities/create_or_update", :locals => { :via_ajax => true }
#routine-builder-panel.container-fluid
  .row
    #activity-facets-panel.span3.well
      .well
        #clear-selections.ui-state-default.btn.btn-primary Clear Selections
        / <span class="label label-important">
        / Search or browse to find activities, <br/> then add them to your routine
        / </span>
      #activity-type-list.accordion.has-tooltip-right{:rel => "tooltip", :title => "Filter activities by type"}
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#activity-type-list", "data-toggle" => "collapse", :href => "#collapse-type"}
              Type of Activity
          #collapse-type.accordion-body.collapse.in
            .accordion-inner
              - @activity_types.each do |activity_type|
                .facet
                  %a
                    = activity_type.name
                  %span.faceting-control
                    = activity_type.name
      #body-part-list.accordion.has-tooltip-right{:rel => "tooltip", :title => "Filter activities by anatomy"}
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "body-part-list", "data-toggle" => "collapse", :href => "#collapse-body-part-list"}
              Anatomy Involved
          #collapse-body-part-list.accordion-body.collapse.in
            .accordion-inner
              %ul.unstyled
                - group_body_parts_by_region(@body_parts).each_pair do |region, body_parts|
                  %li
                    .facet
                      %a
                        = region
                      %span.faceting-control
                        = region
                    %ul
                      - body_parts.each do |body_part|
                        %li.ui-state-default
                          .facet
                            %a
                              = body_part.name
                            %span.faceting-control
                              = body_part.name
      #activity-attribute-list.accordion.has-tooltip-right{:rel => "tooltip", :title => "Filter activities by attributes"}
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#activity-attribute-list", "data-toggle" => "collapse", :href => "#collapse-activity-attributes"}
              Activity Attributes
          #collapse-activity-attributes.accordion-body.collapse.in
            .accordion-inner
              - @activity_attributes.each do |attribute|
                .facet
                  %a
                    = attribute.name
                  %span.faceting-control
                    = attribute.name
      #implement-list.accordion.has-tooltip-right{:rel => "tooltip", :title => "Filter activities by implements"}
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "implement-list", "data-toggle" => "collapse", :href => "#collapse-implement-list"}
              Implements Involved
          #collapse-implement-list.accordion-body.collapse.in
            .accordion-inner
              %ul.unstyled
                - group_implements_by_category(@implements).each_pair do |category, implements|
                  %li
                    .facet
                      %a.ui-state-default
                        = category
                      %span.faceting-control
                        = category
                    %ul
                      - implements.each do |implement|
                        %li.ui-state-default
                          .facet
                            %a
                              = implement.name
                            %span.faceting-control
                              = implement.name
    #facet-filtered-activities-panel.span3
      #activity-search-widget.well.has-tooltip-bottom{:rel => "tooltip", :title => "Search activities by name, type, anatomy, attributes, or implements"}
        %input#activity-search-box.input-medium{:tabindex => "1", :type => "text"}/
        %i.icon-search
      = render :partial => 'shared/button', :locals => { :button_class => 'new-activity-button btn-primary', |
               :message => 'New Activity'}                                                        |
      %ul#activity-list.affix.nav.nav-tabs.nav-stacked.has-tooltip{"data-offset-top"=>"200", "data-spy"=>"affix", :rel => "tooltip", :title => "Select activities to add them to your routine"}
        - @activities.each do |activity|
          = render :partial => "routines/activity_list_item", :locals => { :activity => activity, :performance => false }
    #routine-form-panel.span6
      .well
        = form_for [@client, @routine], :remote => via_ajax do |form|
          #basic-routine-info
            = hidden_field_tag "routine[trainer]", @trainer.login
            .row
              .span2
                = form.label "routine[client]", "Client"
              .span2
                - if @client == current_user
                  = select_tag "routine[client]", options_for_select(@client_logins, :selected => current_user.login)
                - else
                  = hidden_field_tag "routine[client]", @client.login
                  %span
                    = @client.first_name
                    = @client.last_name
            .row
              .span2
                = form.label :name, "Routine Name"
              .span2
                = form.text_field :name, :tabindex => "3", :class => "input-xlarge required is_routine_name_unique", |
                                  :minlength => @validations[:routine][:name][:minlength], |
                                  :maxlength => @validations[:routine][:name][:maxlength] |
            .row
              .span2
                = form.label :goal, "Routine Goal"
              .span3
                = form.text_field :goal, :tabindex => "4", :class => "required input-xlarge", :minlength => @validations[:routine][:goal][:minlength], |
                                  :maxlength => @validations[:routine][:goal][:maxlength] |
            .row
              .span4
                = render :partial => "shared/button", :locals => { :button_id => "import-routine-button",
                                                                   :button_class => "btn-primary",
                                                                   :message => "Import Activity Sets from Another Routine" }
          .row
            %ul#routine-activity-set-list.accordion.unstyled
              - @routine.activity_sets.each do |activity_set|
                %li.activity-set-form.assigned
                  = render :partial => 'activity_sets/form', :locals => { :activity => activity_set.activity, |
                    :activity_set => activity_set, :template => false }                                       |
          .row
            .span2
              .btn-group
                = render :partial => 'shared/button', :locals => { :button_id => 'save-routine', |
                         :button_class => 'btn-primary', :message => 'Save', :return_false => false }  |
                - if via_ajax
                  = render :partial => 'shared/button', :locals => { :button_id => 'cancel-routine-builder-button', |
                    :message => 'Cancel' }                                                                          |
                - else
                  = link_to "Cancel", user_routines_path(current_user), :class => 'btn'
