%span.faceting-control
  = activity.name
  - activity.alternate_activity_names.each do |alternate_name|
    = alternate_name.name
  = activity.activity_type.name
  - group_body_parts_by_region(activity.body_parts).each_pair do |region, body_parts|
    = region
    - body_parts.each do |body_part|
      = body_part.name
  - group_implements_by_category(activity.implements).each_pair do |category, implements|
    = category
    - implements.each do |implement|
      = implement.name
  - activity.activity_attributes.each do |attribute|
    = attribute.name