<div class="measure_selector">
  <div class="span1">
    <label for="routine[activity_sets][][<%= measure.downcase %>]" class="measure_label">
      <%= measure %>
    </label>
  </div>
  <div class="span4">
    <input type="button" class="decrement btn"/>
    <span class="measure_interval" style="display:none">
      <%= interval %>
    </span>
    <input value="<%= initial_value %>" name="routine[activity_sets][][<%= measure.downcase %>]" class="measure"/>
    <input type="button" class="increment btn"/>
    <% if defined? units and !units.empty? %>
      <%= select_tag("routine[activity_sets][][#{measure.downcase}_unit]", options_for_select(units, (unit.nil? ? nil : unit.pluralize)), :class => "unit-selector") %>
    <% end %>
  </div>
</div>
