<!DOCTYPE html>
<html>
<head>
  <title>IronOctopus</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_for @routine do |r| %>
  <%= r.label :name, 'Name' %>:
  <%= r.text_field :name %><br />
  <%= r.label :goal, 'Goal' %>:
  <%= r.text_field :goal %><br />
  <%= r.submit %>
<% end %>

</body>
</html>
