<script>
  $(document).ready(function() {
      $('#new-activity-set-button').click(function() {
        $('#activity-sets').append("<%= escape_javascript(render :partial => 'activity_sets/form') %>");
      });
  });
</script>

<% students = current_user.students.map { |u| u.login } %>

<div id="new-routine">
  <%= form_tag "/routines" do %>

    <%= label_tag "routine[owner]", "Owner" %>:
    <%= select_tag("routine[owner]", options_for_select(students)) %>
    
    <div id="new-routine-basic-info">
      <%= label_tag "routine[name]", "Name" %>: <%= text_field_tag "routine[name]" %>
      <%= label_tag "routine[goal]", "Goal" %>: <%= text_field_tag "routine[goal]" %>
    </div>
    
    <div id="activity-sets"></div>

    <input type="button" value="New set" id="new-activity-set-button"/>

    <%= submit_tag "Create Routine" %>
    
  <% end %>
</div>
