<!DOCTYPE html>
<html>
<head>
  <title>IronOctopus</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_for @routine do |r| %>
  <%= r.label :name, 'Name' %>:
  <%= r.text_field :name %><br />
  <%= r.label :goal, 'Goal' %>:
  <%= r.text_field :goal %><br />
  <%= r.submit %>
  
  <%= select("activity_type", "activity_type_id", ActivityType.find(:all).collect { |at| [at.name, at.activity_type_id] }) %>
  
  
<% end %>


</body>
</html>
