<script type="text/javascript">
  $(document).ready(function() {
    window.print();
//    window.close();
  });
</script>

<div id="sheet-header">
  <div>
    Routine: <%= @routine.name %>
  </div>
  <div>
    Created by <%= @routine.trainer.full_name %> for <%= @routine.client.full_name %>
  </div>
  <div>
    Goal: <%= @routine.goal %>
  </div>
</div>

<table id="sheet-activity-set-form">
  <thead>
    <td>Activity</td>
    <td colspan="9">Goals and Work Completed</td>
  </thead>
  <% @routine.activity_sets.each do |activity_set| %>
    <tr>
      <td class="field-label">
        <%= activity_set.activity.name %>
      </td>
      <% activity_set.activity.metrics.each do |metric| %>
        <td>
          <% value, unit = activity_set.nil? ? 1 : get_initial_value(activity_set, metric) %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => metric.name, :value => value, :unit => (unit.pluralize unless unit.eql?('None')) } %>
        </td>
        <td class="target-field"></td>
      <% end %>
      <td colspan="<%= Metric.count - activity_set.activity.metrics.size %>"/>
    </tr>
  <% end %>
</table>


