#routine-display-panel.container-fluid
  .row-fluid
    #basic-info.span3.well
      .row-fluid
        %h3= @routine.name
      %br
      .row-fluid
        = @routine.goal
      %br
      .row-fluid
        Created by #{@routine.trainer.full_name} for #{@routine.client.full_name} on #{@routine.created_at.to_date}
      .row-fluid
        Last updated on #{@routine.updated_at.to_date}
      %br
      .row-fluid.btn-group
        - if can? :update, @routine
          = link_to("Edit", edit_user_routine_path(@routine.client, @routine), :class => "btn")
        - if can? :perform, @routine
          = link_to("Perform", perform_routine_path(@routine.client, @routine), :class => "btn")
        = link_to("Print", routine_sheet_path(@routine.client, @routine), :class => "btn", :target => "_blank")
    .span8.well
      - @routine.activity_sets.each do |activity_set|
        .row-fluid
          .span3
            = link_to(activity_set.activity.name, activity_path(activity_set.activity))
          .span6
            .row-fluid
              - activity_set.activity.metrics.each do |metric|
                - measure_value, unit = activity_set.nil? ? 1 : get_initial_value(activity_set, metric)
                = render :partial => "routines/measure_display", :locals => { :measure => metric.name,
                         :measure_value => measure_value, :unit => (unit.name.pluralize unless unit.eql?(Unit::NONE)) }

