<div>
  <h2>
    <%= @routine.name %>
  </h2>
  <div>
    Goal
  </div>
  <div>
    <%= @routine.goal %>
  </div>
  <% @routine.activity_sets.each do |activity_set| %>
    <ul>
      <li>
        <%= activity_set.activity.name %>
      </li>
    </ul>  
  <% end %>
  <%= link_to("Edit", edit_user_routine_path(@routine.client, @routine)) %>
  <%= link_to("Routine List", :action => :index) %>
</div>