<div id="tour-carousel" class="carousel slide container">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div id="invite-client" class="active item tour-item">
      Invite your client by email and they will register is your client.
      <p>
        <%= link_to "Sign up", new_user_path, :class => 'btn btn-primary' %>
      </p>
    </div>
    <div id="custom-routines" class="item tour-item">
      <h2>Custom Routines</h2>
      Customize routines for your client using the Routine Builder. <b>Search and browse</b> activities by type, anatomy, implements, or advanced concepts like impact, force and utility.
      <p>
        <%= link_to "Sign up", new_user_path, :class => 'btn btn-primary' %>
      </p>
    </div>
    <div id="custom-activities" class="item tour-item">
      <h2>Custom Activities</h2>
      <p>
        Add new activities, described by anatomy, implements, and measures you choose.
      </p>
      <p>
        Does your client demand the <b><i>Hans und Franz Synchronized Belly Button Blaster?</i></b>. Well, feel free.
      </p>
      <p>
        <%= link_to "Sign up", new_user_path, :class => 'btn btn-primary' %>
      </p>
    </div>
    <div id="work-input" class="item tour-item">
      <h2>Keep an Activity Log</h2>
      <p>
        Your client can record the work she did using her cell phone or computer on the Iron Octopus site!
      </p>
      <p>
        <%= link_to "Sign up", new_user_path, :class => 'btn btn-primary' %>
      </p>
    </div>
    <div id="pricing" class="item tour-item">
      <h2>Pricing</h2>
      <p>
        You are charged a flat, one-time fee for each client you invite.
      </p>
      <p>
        <%= link_to "Sign up", new_user_path, :class => 'btn btn-primary' %>
      </p>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#tour-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#tour-carousel" data-slide="next">&rsaquo;</a>
</div>
