#tour-carousel.carousel.slide.container
  / Carousel items
  .carousel-inner
    #invite-client.active.item.tour-item
      Invite your client by email and they will register is your client.
      %p
        = link_to "Sign up", new_user_path, :class => 'btn btn-primary'
    #custom-routines.item.tour-item
      %h2 Custom Routines
      Customize routines for your client using the Routine Builder.
      %b Search and browse
      activities by type, anatomy, implements, or advanced concepts like impact, force and utility.
      %p
        = link_to "Sign up", new_user_path, :class => 'btn btn-primary'
    #custom-activities.item.tour-item
      %h2 Custom Activities
      %p
        Add new activities, described by anatomy, implements, and measures you choose.
      %p
        Does your client demand the
        = succeed "." do
          %b
            %i Hans und Franz Synchronized Belly Button Blaster?
        Well, feel free.
      %p
        = link_to "Sign up", new_user_path, :class => 'btn btn-primary'
    #work-input.item.tour-item
      %h2 Keep an Activity Log
      %p
        Your client can record the work she did using her cell phone or computer on the Iron Octopus site!
      %p
        = link_to "Sign up", new_user_path, :class => 'btn btn-primary'
    #pricing.item.tour-item
      %h2 Pricing
      %p
        You are charged a flat, one-time fee for each client you invite.
      %p
        = link_to "Sign up", new_user_path, :class => 'btn btn-primary'
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#tour-carousel"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#tour-carousel"} &rsaquo;
