<div id="program-builder-panel" class="container-fluid">

  <div id="modal-routine-builder" class="modal hide fade">
    <div class="modal-body">
      <%= render :partial => "routines/create_or_update", :locals => { :via_ajax => true } %>
    </div>
  </div>

  <%= form_for [@client, @program] do |form| %>
    <%= hidden_field_tag "program[trainer]", @trainer.login %>
    <div id="routine-type-selector" class="row">
      <div class="span7 offset4 well">
        <%= hidden_field_tag "program[type]", @program_type %>
        <div class="btn-group offset1" data-toggle="buttons-radio">
          <%= render :partial => 'shared/button', :locals => { :button_id => 'weekday-program-button', :button_class => "btn-large btn-primary #{ 'active' if @program_type.eql? 'Weekday' }",
                                                               :message => 'Weekday Program', :type => 'input'} %>
          <%= render :partial => 'shared/button', :locals => { :button_id => 'scheduled-program-button', :button_class => "btn-large btn-primary #{ 'active' if @program_type.eql? 'Scheduled' }",
                                                               :message => 'Scheduled Program', :type => 'input'} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span3 well">
        <div class="row">
          <div class="span3">
            <%= form.label "program[client]", "Client" %>
          </div>
          <div class="span3">
            <% if @client == current_user %>
              <%= select_tag "program[client]", options_for_select(@clients, :selected => current_user.login) %>
            <% else %>
              <%= hidden_field_tag "program[client]", @client.login %>
              <span>
                <%= @client.first_name %>
                <%= @client.last_name %>
              </span>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div id="program-basic-info">
            <div class="span3">
              <%= form.label :name, "Program Name" %>
              <%= form.text_field :name, :class => "required is_program_name_unique", :minlength => "4", :maxlength => "64" %>
            </div>
            <div class="span3">
              <%= form.label :goal, "Program Goal" %>
              <%= form.text_area :goal, :minlength => "8", :maxlength => "256" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span3 btn-group">
            <%= submit_tag "Save", :class => "btn btn-large btn-primary"%>
            <%= link_to "Cancel", user_programs_path(@client), :class => "btn btn-large" %>
          </div>
        </div>
      </div>

      <div id="scheduled-program" class="span11 well">
        <div id="calendar" class="carousel slide">
          <% today = Date.today %>
          <% months = (0 .. Configuration.instance.application[:max_calendar_months]).map { |i| today + i.months } %>
          <div class="carousel-inner">
            <% months.each_with_index do |month, idx| %>
              <div class="<%= (idx == 0 ? 'item active' : 'item') %>" >
                <%= calendar_for(month.year, month.month, :yield_surrounding_days => true, :use_full_day_names => true,
                                 :current_month => lambda { |date| date.strftime("%B %Y") } ) do |day|
                  [ render(:partial => 'programs/calendar_day', :locals => { :date => day, :month => month.month }), { :class => '' } ]
                end %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control left" href="#calendar" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#calendar" data-slide="next">&rsaquo;</a>
        </div>
      </div>

      <div id="weekday-program" class="span11">
        <ul class="nav nav-stacked">
          <% Weekday::WEEK.each do |weekday| %>
            <li class="">
              <div class="row">
                <div id="<%= weekday %>-bucket" class="span6 weekday-bucket well">
                  <% weekday_program = @weekday_programs.select { |wp| wp.day_of_week.eql? weekday.name }.first %>
                  <div class="span3">
                    <%= select_tag "program[#{weekday.name}]",
                                   options_for_select(@routine_select, :selected => weekday_program ? weekday_program.routine.permalink : nil),
                                   :prompt => "-- Select a Routine --", :class => 'routine-select' %>
                  </div>
                  <div class="span2 btn-group">
                    <%= render :partial => 'shared/button', :locals => { :button_class => 'new-routine-button',
                                                                         :message => 'New Routine'} %>
                  </div>
                </div>
                <div class="span2 weekday well">
                  <h4>
                    <%= weekday.name %>
                  </h4>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

    </div>

  <% end %>

</div>