#modal-routine-builder.modal.hide.fade
  .modal-body
    = render :partial => "routines/create_or_update", :locals => { :via_ajax => true }
#program-builder-panel.container-fluid
  = form_for [@client, @program] do |form|
    = hidden_field_tag "program[trainer]", @trainer.login
    #routine-type-selector.row
      .span7.offset3.well
        = hidden_field_tag "program[type]", @program_type
        .btn-group.offset1{"data-toggle" => "buttons-radio"}
          = render :partial => 'shared/button', :locals => { :button_id => 'weekday-program-button', :button_class => "btn-large btn-primary #{ 'active' if @program_type.eql? 'Weekday' }", |
            :message => 'Weekday Program', :type => 'input'}                                                                                                                                 |
          -
          = render :partial => 'shared/button', :locals => { :button_id => 'scheduled-program-button', :button_class => "btn-large btn-primary #{ 'active' if @program_type.eql? 'Scheduled' }", |
            :message => 'Scheduled Program', :type => 'input'}                                                                                                                                   |
    .row-fluid
      #program-basic-info.span3.well
        .row-fluid
          = form.label "program[client]", "Client"
          - if @client == current_user
            = select_tag "program[client]", options_for_select(@client_logins, :selected => current_user.login)
          - else
            = hidden_field_tag "program[client]", @client.login
            %span
              = @client.first_name
              = @client.last_name
        .row-fluid
          = form.label :name, "Program Name"
          = form.text_field :name, :class => "required is_program_name_unique", |
                            :minlength => @validations[:program][:name][:minlength], |
                            :maxlength => @validations[:program][:name][:maxlength] |
          = form.label :goal, "Program Goal"
          = form.text_area :goal, :class => "required", :value => @program.goal, |
                           :minlength => @validations[:program][:goal][:minlength], |
                           :maxlength => @validations[:program][:goal][:maxlength] |
        .row-fluid
          .btn-group
            = link_to "Cancel", user_programs_path(@client), :class => "btn btn-large"
            = submit_tag "Save", :id => "save-program", :class => "btn btn-large btn-primary"
      #scheduled-program.span8.well
        #calendar.carousel.slide
          - today = Date.today
          - months = (0 .. @application[:max_calendar_months]).map { |i| today + i.months }
          .carousel-inner
            - months.each_with_index do |month, idx|
              %div{:class => (idx == 0 ? 'item active' : 'item')}
                = calendar_for(month.year, month.month, :yield_surrounding_days => true, :use_full_day_names => true,                     |
                                   :current_month => lambda { |date| date.strftime("%B %Y") } ) do |day|                                  |
                    [ render(:partial => 'programs/calendar_day', :locals => { :date => day, :month => month.month }), { :class => '' } ] |
                  end                                          |
          %a.carousel-control.left{"data-slide" => "prev", :href => "#calendar"} &lsaquo;
          %a.carousel-control.right{"data-slide" => "next", :href => "#calendar"} &rsaquo;
      #weekday-program.span9
        - Weekday::WEEK.each do |weekday|
          .row-fluid
            .span8.weekday-bucket.well.well-small{:id => "#{weekday}-bucket"}
              .row-fluid
                - weekday_program = @weekday_programs.select { |wp| wp.day_of_week.eql? weekday.name }.first
                .span6
                  = select_tag "program[#{weekday.name}]",                                                                       |
                    options_for_select(@routine_select, :selected => weekday_program ? weekday_program.routine.permalink : nil), |
                    :prompt => "-- Select a Routine --", :class => 'routine-select'                                              |
                .span3.btn-group
                  = render :partial => 'shared/button', :locals => { :button_class => 'new-routine-button', |
                    :message => 'New Routine'}                                                              |
            .span2.weekday.well.well-small
              %h4
                = weekday.name
