.container
  .row
    .span2
      = @program.name
    .span2
      = @program.goal
  .row
    .span2.offset6
      Created by #{@program.trainer.full_name}
    .span2
      for #{@program.client.full_name}
  - @program.routines.each do |routine|
    .row
      .span2
        = routine.name
      .span4
        = routine.goal
  = link_to("Edit", edit_user_program_path(@program.client, @program), :class => "btn")
