.container
  = form_for @password_reset_request, :html => { :id => @password_reset_request.password_reset_request_uuid } do |form|
    - if @user.errors.any?
      .error_messages
        %h2 Form is invalid
        %ul
          - for message in @user.errors.full_messages
            %li= message
    .row.well
      .field
        = form.label :new_password, "New Password"
        = form.password_field :new_password
      .field
        = form.label :confirm_password, "Confirm Password"
        = form.password_field :confirm_password
      .span1
        = submit_tag "Save", :class => "btn btn-large btn-primary"