<div class=<%= defined?(template) && template ? "activity-set-form-template" : "activity-set-form" %> >
  <div class="handle activity-display-name"><%= activity.name %></div>
  <div class="activity-set-attributes container">
    <%= hidden_field_tag "routine[activity_sets][][activity]", activity.name %>

    <% activity.metrics.each do |metric| %>
      <% if metric.name.eql? 'Repetitions' %>
        <div class="row">
            <%= render :partial => "routines/measure_selector", :locals => { :measure => 'Repetitions', :interval => 1,
                                                                             :initial_value => (!activity_set.nil? and activity_set.repetitions > 1) ?
                                                                                                activity_set.repetitions : 1 } %>
        </div>
      <% else %>
        <div class="row">
          <% initial_value, unit = activity_set.nil? ? 1 : get_initial_value(activity_set, metric) %>
          <%= render :partial => "routines/measure_selector", :locals => { :measure => metric.name, :interval => 1,
                                                                           :initial_value => initial_value,
                                                                           :units => metric.units.map { |u| u.name.pluralize }, :unit => unit } %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <% if defined?(performance) && performance %>
      <%= submit_tag "Done", :class => "perform-activity-set-button btn btn-primary"%>
    <% else %>
      <div class="delete-activity-set-button btn">Delete</div>
      <div class="clone-activity-set-button btn">Repeat</div>
    <% end %>
  </div>

</div>