%div{:class => "accordion-group #{defined?(template) && template ? 'activity-set-form-template' : 'activity-set-form'} "}
  .container
    .accordion-heading.activity-display-name.row
      .span4
        %a.accordion-toggle{"data-parent" => "routine-activity-set-list", "data-toggle" => "collapse", :href => "##{template ? nil : activity_set.position}"}
          = activity.name
      .span1.handle.label
        %i.icon-resize-vertical
  .activity-set-attributes.accordion-body.collapse.in{:id => template ? nil : activity_set.position}
    .accordion-inner.container
      = hidden_field_tag "routine[activity_sets][][activity]", activity.name
      - activity.metrics.each do |metric|
        .row
          - initial_value, unit = get_initial_value(activity_set, metric)
          = render :partial => "routines/measure_selector", :locals => { :measure => metric.name, :interval => 1,            |
                   :initial_value => initial_value.value, :units => metric.units.map { |u| u.name.pluralize }, |
                   :unit => unit }                                                                                                  |
      .btn-group
        = render :partial => 'shared/button', :locals => { :button_class => 'btn-primary okay-activity-set-button', |
          :message => 'Ok',                                                                                         |
          :icon => 'icon-ok' }                                                                                      |
        -#
        = render :partial => 'shared/button', :locals => { :button_class => 'delete-activity-set-button', |
          :message => 'Delete',                                                                           |
          :icon => 'icon-remove-sign' }                                                                   |
        -#
        = render :partial => 'shared/button', :locals => { :button_class => 'clone-activity-set-button', |
          :message => 'Repeat',                                                                          |
          :icon => 'icon-repeat' }                                                                       |
