.container-fluid{:class => "accordion-group #{defined?(template) && template ? "activity-set-form-template" : ""} "}
  .accordion-heading.activity-display-name.row-fluid
    .span3.btn-group.activity-set-controls
      = render :partial => "shared/button", :locals => { :button_class => "delete-activity-set-button btn-small has-tooltip-left",
                                                         :icon => "icon-remove-sign", :tooltip => "Delete" }
      = render :partial => "shared/button", :locals => { :button_class => "clone-activity-set-button btn-small has-tooltip-bottom",
                                                         :icon => "icon-repeat", :tooltip => "Copy" }
      = render :partial => "shared/button", :locals => { :button_class => "activity-set-comments-button btn-small has-tooltip-right",
                                                         :icon => "icon-comment", :tooltip => "Special Instructions" }
    .span5
      %a.accordion-toggle.activity-set-name{"data-parent" => "routine-activity-set-list", "data-toggle" => "collapse", :href => "##{template ? nil : activity_set.position}"}
        = activity.name
    .span2.activity-set-set-count
      %label.measure-label
        Sets
      %input.measure-tiny.spinner.number.positive_number.required{:value => 1, :min => 1, :name => "routine[activity_sets][][set_count]"}
    .span2.handle.pull-right
      %i.icon-resize-vertical
  .row.activity-set-comments
    = render :partial => "activity_sets/create_or_update_comment",
             :locals => { :comments => template ? "" : activity_set.comments, :disabled => false }
  .activity-set-attributes.accordion-body.collapse.in{:id => template ? nil : activity_set.position}
    .accordion-inner.container
      = hidden_field_tag "routine[activity_sets][][activity]", activity.name
      - activity.metrics.each do |metric|
        .row
          - initial_value, unit = get_initial_value(activity_set, metric)
          = render :partial => "routines/measure_selector", :locals => { :measure => metric.name, :interval => 1,
                                                                         :initial_value => initial_value,
                                                                         :units => metric.units.map { |u| u.name.pluralize },
                                                                         :unit => unit, :performance => false }
