#user-settings.container
  = form_for @user do |form|
    .row.well
      .field
        = form.label :new_password, "New Password"
        = form.password_field :new_password, :class => "is_password_acceptable"
      .field
        = form.label :confirm_password, "Confirm Password"
        = form.password_field :confirm_password, :class => "is_password_acceptable passwords_match"
      .field
        .ui-widget
          = form.label :city
          = text_field_tag :city, @user.city.display, :id => 'city-select', :class => 'ui-autocomplete-input required'
    .row
      .span3.btn-group
        = link_to "Cancel", user_path(@user), :class => "btn btn-large"
        = submit_tag "Save", :class => "btn btn-large btn-primary"
