.container
  = form_for @client do |form|
    .row.well
      .field
        = form.label :new_password, "New Password"
        = form.password_field :new_password
      .field
        = form.label :confirm_password, "Confirm Password"
        = form.password_field :confirm_password
      .field
        .ui-widget
          = form.label :city
          = text_field_tag :city, @client.city.display, :id => 'city-select', :class => 'ui-autocomplete-input'
    .row
      .span3.btn-group
        = submit_tag "Save", :class => "btn btn-large btn-primary"
        = link_to "Cancel", user_path(@client), :class => "btn btn-large"
