#user-display-panel.container-fluid
  .row-fluid
    #basic-info.span4.well
      .row-fluid
        %h3
          = @user.full_name
          = image_tag @user.image_url
        -#User since #{@user.created_at.to_date}
        - if @user.is_trainer? and @user.eql? current_user
          - if @user.profile.nil?
            = link_to("Create a Trainer Profile", new_user_profile_path(@user))
          - else
            = link_to("Manage Trainer Profile", edit_user_profile_path(@user, @user.profile))
      .row-fluid
        - unless @todays_routines.empty?
          %h3
            Today's Routines
          - @todays_routines.each do |routine|
            %div
              - if can? :perform, routine
                = link_to(perform_routine_path(routine.client, routine), :class => 'btn btn-primary') do
                  Perform
                  %i= routine.name
              - else
                = link_to(routine.name, user_routine_path(@user, routine))
      .row-fluid
        = link_to "Training Log", user_work_index_path(@user)
      - if @user.is_trainer? and @user.eql? current_user
        .row-fluid
          %h4
            My Clients at a Glance
          = render :partial => "shared/chart_display_panel",
                   :locals => { :panel_id => "client-score-differentials-display-panel",
                                :info_position => "right",
                                :info_text => "This represents how much work your clients have done in the last week compared to how much work you instructed them to do" }
    .span8
      -#- if @user.is_trainer? and @user.eql? current_user
        -# Show reports tab first
      .tabbable
        %ul.nav.nav-tabs.nav-pills
          %li.active
            %a{:href => "#recent-performance-report-pane", "data-toggle" => "tab"}
              Overall Performance
          %li
            %a{:href => "#historical-performance-report-pane", "data-toggle" => "tab"}
              Performance by Activity
          %li
            %a{:href => "#routines-pane", "data-toggle" => "tab"}
              Workout Routines
        .tab-content
          #recent-performance-report-pane.tab-pane.active
            .row-fluid.well
              = render :partial => "shared/chart_search_by_date_range_panel",
                       :locals => { :panel_id => "charts-by-day-search-panel",
                                    :button_id => "charts-by-day-show-button"}
              %br
              = render :partial => "shared/chart_display_panel",
                       :locals => { :panel_id => "scores-by-day-display-panel",
                                    :info_position => "left",
                                    :info_text => "Client score is the sum value of load metrics like resistance, distance, duration, and heart rate multiplied by repetitions and set count" }
              %br
              = render :partial => "shared/chart_display_panel",
                       :locals => { :panel_id => "activity-type-breakdown-display-panel",
                                    :info_position => "left",
                                    :info_text => "This is the distribution of exercise based upon activity type"  }
              %br
              = render :partial => "shared/chart_display_panel",
                       :locals => { :panel_id => "body-part-breakdown-display-panel",
                                    :info_position => "left",
                                    :info_text => "This is the distribution of exercise across the body"  }
          #historical-performance-report-pane.tab-pane
            .row-fluid.well
              = select_tag("activity-performance-select", options_for_select(@user.activities_performed.map{|a| a.name}))
              %label.inline.radio
                %input{:type => "radio", :name => "units-radio-buttons", :id => "english-units", :checked => true}
                  English Units
              %label.inline.radio
                %input{:type => "radio", :name => "units-radio-buttons", :id => "metric-units"}
                  Metric Units
              = render :partial => "shared/chart_display_panel",
                       :locals => { :panel_id => "activity-performance-cadence-display-panel",
                                    :info_position => "left",
                                    :info_text => "Cadence over time" }
              = render :partial => "shared/chart_display_panel",
                       :locals => { :panel_id => "activity-performance-calories-display-panel",
                                    :info_position => "left",
                                    :info_text => "Calories over time" }
              = render :partial => "shared/chart_display_panel",
                       :locals => { :panel_id => "activity-performance-distance-display-panel",
                                    :info_position => "left",
                                    :info_text => "Distance over time" }
              = render :partial => "shared/chart_display_panel",
                        :locals => { :panel_id => "activity-performance-duration-display-panel",
                                     :info_position => "left",
                                     :info_text => "Duration over time" }
              = render :partial => "shared/chart_display_panel",
                        :locals => { :panel_id => "activity-performance-heart-rate-display-panel",
                                     :info_position => "left",
                                     :info_text => "Heart Rate over time" }
              = render :partial => "shared/chart_display_panel",
                        :locals => { :panel_id => "activity-performance-level-display-panel",
                                     :info_position => "left",
                                     :info_text => "Level over time" }
              = render :partial => "shared/chart_display_panel",
                        :locals => { :panel_id => "activity-performance-incline-display-panel",
                                     :info_position => "left",
                                     :info_text => "Incline over time" }
              = render :partial => "shared/chart_display_panel",
                        :locals => { :panel_id => "activity-performance-repetitions-display-panel",
                                     :info_position => "left",
                                     :info_text => "Repetitions over time" }
              = render :partial => "shared/chart_display_panel",
                        :locals => { :panel_id => "activity-performance-resistance-display-panel",
                                     :info_position => "left",
                                     :info_text => "Resistance over time" }
              = render :partial => "shared/chart_display_panel",
                        :locals => { :panel_id => "activity-performance-speed-display-panel",
                                     :info_position => "left",
                                     :info_text => "Speed over time" }
              %br
          #routines-pane.tab-pane
            .row-fluid
              .well
                .row-fluid
                  .span5
                    %h3
                      Programs
                  .span4
                    - if can? :create, Program.new, @user
                      = link_to "Create new program for #{@user.first_name}", new_user_program_path(@user), :class => "btn btn-primary"
                %br
                .row-fluid
                  - @user.programs.each do |program|
                    .row-fluid
                      .span4
                        = link_to(program.name, user_program_path(@user, program))
                      .span2
                        - if can? :update, program
                          = link_to(edit_user_program_path(@user, program)) do
                            Edit
                            %i.icon-edit
                %br
                .row-fluid
                  .span5
                    %h3
                      Routines
                  .span4
                    - if can? :create, Routine.new, @user
                      = link_to "Create new routine for #{@user.first_name}", new_user_routine_path(@user), :class => "btn btn-primary"
                %br
                .row-fluid
                  - @routines.each do |routine|
                    .row-fluid
                      .span4
                        = link_to(routine.name, user_routine_path(@user, routine))
                      .span2
                        - if can? :update, routine
                          = link_to(edit_user_routine_path(@user, routine)) do
                            Edit
                            %i.icon-edit
                      .span3
                        - if can? :perform, routine
                          = link_to(perform_routine_path(@user, routine)) do
                            Perform Routine
                            %i.icon-fire
