<div class="container">

  <div class="row">
    <div class="span3 well">
      <h3>
        <%= @client.first_name %> <%= @client.last_name %>
      </h3>
    </div>
    <div class="span3 well">
      <h3>
        Todays Routines
      </h3>
    </div>
    <div class="span3 well">
      <h3>
        Performance
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="span3 well">
      User info
    </div>
    <div class="span3 well">
      <% @todays_routines.each do |routine| %>
        <div>
          <%= link_to(perform_routine_path(routine.client, routine), :class => 'btn btn-primary') do %>
            Perform <i><%= routine.name %></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="span3 well">
      <%= link_to "Work Log", user_work_index_path(@client) %>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="well">
        <h3>
          Programs
        </h3>
      </div>
      <div>
        <% if @client.trainers.include?(current_user) || @client.eql?(current_user) %>
          <%= link_to "Create new program for #{@client.first_name}", new_user_program_path(@client), :class => "btn btn-primary" %>
        <% end %>
      </div>
      <br/>
      <% @client.programs.each do |program| %>
        <div class="row">
          <div class="span2">
            <%= link_to(program.name, user_program_path(@client, program)) %>
          </div>
          <div class="span2">
            <% if current_user.eql? program.trainer %>
              <%= link_to(edit_user_program_path(@client, program), :class => 'btn') do %>
                Edit
                <i class="icon-edit"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="span7">
      <h3 class="well">
        Routines
      </h3>
      <% if @client.trainers.include?(current_user) || @client.eql?(current_user) %>
        <%= link_to "Create new routine for #{@client.first_name}", new_user_routine_path(@client), :class => "btn btn-primary" %>
      <% end %>
      <br/>
      <br/>
      <% @routines.each do |routine| %>
        <div class="row">
          <div class="span2">
            <%= link_to(routine.name, user_routine_path(@client, routine)) %>
          </div>
          <div class="span2">
            <%= link_to(perform_routine_path(@client, routine), :class => 'btn btn-primary') do %>
              Record Work
              <i class="icon-fire"></i>
            <% end %>
          </div>
          <div class="span2">
            <% if current_user.eql? routine.trainer %>
              <%= link_to(edit_user_routine_path(@client, routine), :class => 'btn') do %>
                Edit
                <i class="icon-edit"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>



</div>