<div class="container">
  <div>
    <%= @user.first_name %> <%= @user.last_name %>
  </div>
  <div>
    <ul>
      <% @routines.each do |routine| %>
        <li>
          <span>
            <%= link_to(routine.name, user_routine_path(@user, routine)) %>
          </span>
          <span>
            <%= routine.goal %>
          </span>
        </li>      
      <% end %>
    </ul>

    <%= link_to_if @user.trainers.include?(current_user), "Create new routine for #{@user.first_name}",
        new_user_routine_path(@user), :class => "btn btn-primary" %>
  
  </div>
</div>