#user-display-panel.container-fluid
  .row-fluid
    #basic-info.span4.well
      .row-fluid
        %h3
          = @client.full_name
        User since #{@client.created_at.to_date}
      %br
        - if @client.is_trainer?
          %h4
            - if @client.profile.nil?
              = link_to("Create a Trainer Profile", new_user_profile_path(@client))
            - else
              = link_to("Manage Trainer Profile", edit_user_profile_path(@client, @client.profile))
      .row-fluid
        - unless @todays_routines.empty?
          %h3
            Today's Routines
          - @todays_routines.each do |routine|
            %div
              = link_to(perform_routine_path(routine.client, routine), :class => 'btn btn-primary') do
                Perform
                %i= routine.name
      %br
      .row-fluid
        = link_to "Training Log", user_work_index_path(@client)
    .span7.well
      .row-fluid
        .span5
          %h3
            Programs
        .span4
          - if @client.trainers.include?(current_user) || @client.eql?(current_user)
            = link_to "Create new program for #{@client.first_name}", new_user_program_path(@client), :class => "btn btn-primary"
      %br
      .row-fluid
        - @client.programs.each do |program|
          .row-fluid
            .span4
              = link_to(program.name, user_program_path(@client, program))
            .span2
              - if current_user.eql? program.trainer
                = link_to(edit_user_program_path(@client, program), :class => 'btn') do
                  Edit
                  %i.icon-edit
      %br
      .row-fluid
        .span5
          %h3
            Routines
        .span4
          - if @client.trainers.include?(current_user) || @client.eql?(current_user)
            = link_to "Create new routine for #{@client.first_name}", new_user_routine_path(@client), :class => "btn btn-primary"
      %br
      .row-fluid
        - @routines.each do |routine|
          .row-fluid
            .span4
              = link_to(routine.name, user_routine_path(@client, routine))
            .span2
              - if current_user.eql? routine.trainer
                = link_to(edit_user_routine_path(@client, routine), :class => 'btn') do
                  Edit
                  %i.icon-edit
            .span3
              = link_to(perform_routine_path(@client, routine), :class => 'btn btn-primary') do
                Record Work
                %i.icon-fire
