#user-display-panel.container-fluid
  .row-fluid
    #basic-info.span4.well
      .row-fluid
        %h3
          = @user.full_name
        -#User since #{@user.created_at.to_date}
        -#- if @user.is_trainer? and @user.eql? current_user
        -#  - if @user.profile.nil?
        -#    = link_to("Create a Trainer Profile", new_user_profile_path(@user))
        -#  - else
        -#    = link_to("Manage Trainer Profile", edit_user_profile_path(@user, @user.profile))
      .row-fluid
        - unless @todays_routines.empty?
          %h3
            Today's Routines
          - @todays_routines.each do |routine|
            %div
              - if can? :perform, routine
                = link_to(perform_routine_path(routine.client, routine), :class => 'btn btn-primary') do
                  Perform
                  %i= routine.name
              - else
                = link_to(routine.name, user_routine_path(@user, routine))
      .row-fluid
        = link_to "Training Log", user_work_index_path(@user)
      - if @user.is_trainer? and @user.eql? current_user
        .row-fluid
          %h4
            My Clients at a Glance
          = render :partial => "users/client_activity_score_panel"
    .span8
      - if @user.is_trainer? and @user.eql? current_user
        -# Show reports tab first
      .row-fluid
        .well
          = render :partial => "users/scores_by_day_panel"
      .row-fluid
        .well
          .row-fluid
            .span5
              %h3
                Programs
            .span4
              - if can? :create, Program.new, @user
                = link_to "Create new program for #{@user.first_name}", new_user_program_path(@user), :class => "btn btn-primary"
          %br
          .row-fluid
            - @user.programs.each do |program|
              .row-fluid
                .span4
                  = link_to(program.name, user_program_path(@user, program))
                .span2
                  - if can? :update, program
                    = link_to(edit_user_program_path(@user, program)) do
                      Edit
                      %i.icon-edit
          %br
          .row-fluid
            .span5
              %h3
                Routines
            .span4
              - if can? :create, Routine.new, @user
                = link_to "Create new routine for #{@user.first_name}", new_user_routine_path(@user), :class => "btn btn-primary"
          %br
          .row-fluid
            - @routines.each do |routine|
              .row-fluid
                .span4
                  = link_to(routine.name, user_routine_path(@user, routine))
                .span2
                  - if can? :update, routine
                    = link_to(edit_user_routine_path(@user, routine)) do
                      Edit
                      %i.icon-edit
                .span3
                  - if can? :perform, routine
                    = link_to(perform_routine_path(@user, routine)) do
                      Perform Routine
                      %i.icon-fire
