<div class="container-fluid">

  <div class="row">
    <div id="basic-user-info" class="span3 well">
      <div class="row">
        <div class="span3">
          <h3>
            <%= @user.first_name %> <%= @user.last_name %>
          </h3>
        </div>
      </div>
    </div>

    <div class="span4">
      <h3 class="well">Programs</h3>
      <ul class="nav nav-tabs nav-stacked">
        <% @user.programs.each do |program| %>
          <li>
            <%= link_to(program.name, user_program_path(@user, program)) %>
          </li>
        <% end %>
      </ul>
      <%= link_to_if @user.trainers.include?(current_user), "Create new program for #{@user.first_name}",
                     new_user_program_path(@user), :class => "btn btn-primary" %>
    </div>

    <div class="span4">
      <h3 class="well">Routines</h3>
      <ul class="nav nav-tabs nav-stacked">
        <% @routines.each do |routine| %>
          <li>
            <%= link_to(routine.name, user_routine_path(@user, routine)) %>
          </li>
        <% end %>
      </ul>

      <%= link_to_if @user.trainers.include?(current_user), "Create new routine for #{@user.first_name}",
                     new_user_routine_path(@user), :class => "btn btn-primary" %>
    </div>

  </div>


</div>