<button id="<%= (defined? button_id) ? button_id : '' %>"
        class="btn <%= (defined? button_class) ? button_class : nil %>"
        rel="tooltip"
        data-original-title="yo"
        onclick="return <%= (defined? return_false && return_false == false) ? true : false %>;"
        name="program[type]"
>
  <% if defined? icon %>
    <i class="<%= icon %>"></i>
  <% end %>
  <% if defined? message %>
    <%= message %>
  <% end %>
</button>
