<div id="work-list" class="container">
  <% current_routine = nil %>
  <% current_start_day = nil %>
  <% @work.each do |entry| %>
    <% if current_start_day.nil? || current_start_day != entry.start_day
         current_start_day = entry.start_day and current_routine = nil %>
      <div class="row">
        <div class="span10" style="border: 1px solid;">
          <%= current_start_day.full_date %>
        </div>
      </div>
    <% end %>
    <% if current_routine.nil? || current_routine != entry.routine
         current_routine = entry.routine %>
      <div class="row">
        <div class="span10" style="border: 1px solid;">
          <%= current_routine.name %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="span2">
        <%= link_to entry.activity.name, entry.activity %>
      </div>
      <div class="span4">
        <% if entry.activity.activity_type.name.eql? "Weight Training" %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => "Repetitions", :value => entry.repetitions } %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => "Resistance", :value => entry.measurement.resistance } %>
        <% elsif entry.activity.activity_type.name.eql? "Cardiovascular" %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => "Distance", :value => entry.measurement.distance } %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => "Pace", :value => entry.measurement.pace } %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => "Incline", :value => entry.measurement.incline } %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => "Duration", :value => entry.measurement.duration } %>
        <% elsif entry.activity.activity_type.name.eql? "Rest" %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => "Duration", :value => entry.measurement.duration } %>
        <% elsif entry.activity.activity_type.name.eql? "Plyometric" %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => "Repetitions", :value => entry.repetitions } %>
        <% end %>
      </div>
      <div class="span1">
        <%= entry.start_time %>
      </div>
      <div class="span1">
        <%= entry.end_time %>
      </div>


    </div>
  <% end %>
</div>
