<div id="work-list" class="container">
  <% current_routine = nil %>
  <% current_start_day = nil %>
  <% @work.each do |work| %>
    <% if current_start_day.nil? || current_start_day != work.start_day
         current_start_day = work.start_day and current_routine = nil %>
      <div class="row">
        <div class="span10" style="border: 1px solid;">
          <%= current_start_day.full_date %>
        </div>
      </div>
    <% end %>
    <% if current_routine.nil? || current_routine != work.routine
         current_routine = work.routine %>
      <div class="row">
        <div class="span10" style="border: 1px solid;">
          <%= current_routine.name %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="span2">
        <%= link_to work.activity.name, work.activity %>
      </div>

      <% work.activity.metrics.each do |metric| %>
        <div class="span2">
          <% value, unit = get_initial_value(work, metric) %>
          <%= render :partial => "routines/measure_display", :locals => { :measure => metric.name, :value => value, :unit => (unit.pluralize unless unit.eql?('None')) } %>
        </div>
      <% end %>

      <div class="span1">
        <%= work.start_time %>
      </div>
      <div class="span1">
        <%= work.end_time %>
      </div>


    </div>
  <% end %>
</div>
