#work-list.container
  = paginate @work
  - current_routine = nil
  - current_start_day = nil
  - @work.each do |work|
    - if current_start_day.nil? || current_start_day != work.start_day
      - current_start_day = work.start_day and current_routine = nil
      .row
        .span10.well.well-small
          = current_start_day.full_date
    - if current_routine.nil? || current_routine != work.routine
      - current_routine = work.routine
      .row
        .span10.well.well-small
          = link_to current_routine.name, user_routine_path(current_routine.client, current_routine)
    .row
      .span2
        = link_to work.activity.name, work.activity
      - work.activity.metrics.each do |metric|
        .span2
          - measure_value, unit = get_initial_value(work, metric)
          - if measure_value.defined?
            = render :partial => "routines/measure_display",
                      :locals => { :measure => metric.name, :measure_value => measure_value,
                                   :unit => (unit.pluralize unless unit.eql?('None')) }
      .span1
        = work.user.local_time_from_utc(work.start_time)
  = paginate @work
