<div class="container">

  <div class="row">
    <div class="span3 offset3">
      <%= form_for [current_user, @invitation] do |form| %>
        <div class="row">
          <%= form.label :email_to, 'Client Email' %>
          <%= form.text_field :email_to %><br />
        </div>
        <div class="row">
          <%= submit_tag "Send Invitation", :class => 'btn btn-primary' %>
          <%= link_to("Cancel", clients_path(current_user)) %>
        </div>
      <% end %>
    </div>
    <div class="span3">
      <%=  @licenses_remaining %> licenses remaining
    </div>

  </div>


</div>