!= "var appt = $('##{escape_javascript(@date_time_slot_id.gsub(":", "\\:"))} .appointment')"
!= "appt.html('#{escape_javascript(render :template => "appointments/show", :locals => { :client => @client })}');"
!= "new Appointment(appt)"