<div class="container">
  <%= form_for @activity do |form| %>
    <div class="row">
      <%= form.label :name, 'Name' %>
      <%= form.text_field :name %><br />
      <%= link_to "You can use Markdown syntax here", "http://kramdown.rubyforge.org/quickref.html", :target => '_blank' %>
      <%= form.label :instructions, "Instructions" %>
      <%= form.text_area :instructions %><br />
      <%= form.label :activity_type, "Activity Type" %>
      <%= form.select :activity_type,
                      @activity_types.map { |activity_type | [activity_type.name, activity_type.activity_type_id] },
                      :selected => @activity.activity_type.nil? ? nil : @activity.activity_type.activity_type_id %><br />
    </div>

    <div class="row">
      <div id="attribute-panel" class="ui-state-default">

        <div class="span3">
          <h3>Anatomy Involved</h3>
          <ul id="available-body-part-list" class="available-activity-facet-list">
            <% group_body_parts_by_region(@body_parts).each_pair do |region, body_parts| %>
              <li>
                <%= region %>
              </li>
              <ul>
                <% body_parts.each do |body_part| %>
                  <% if @activity.body_parts.include?(body_part) %>
                    <li id="<%= body_part.name %>" class="activity-attribute ui-state-active">
                      <%= body_part.name %>
                      <%= hidden_field_tag "activity[body_parts][]", body_part.name, :class => "activity-attribute-control" %>
                    </li>
                  <% else %>
                    <li id="<%= body_part.name %>" class="activity-attribute">
                      <%= body_part.name %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </ul>
        </div>

        <div class="span3">
          <h3>Implements Utilized</h3>
          <ul id="available-implement-list" class="available-activity-facet-list">
            <% group_implements_by_category(@implements).each_pair do |category, implements| %>
              <li>
                <%= category %>
              </li>
              <ul>
                <% implements.each do |implement| %>
                  <% if @activity.implements.include?(implement) %>
                    <li id="<%= implement.name %>" class="activity-attribute ui-state-active">
                      <%= implement.name %>
                      <%= hidden_field_tag "activity[implements][]", implement.name, :class => "activity-attribute-control" %>
                    </li>
                  <% else %>
                    <li id="<%= implement.name %>" class="activity-attribute">
                      <%= implement.name %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </ul>
        </div>

        <div class="span3">
          <h3>Metrics</h3>
          <div id="available-metric-list" class="available-activity-facet-list">
            <% @metrics.each do |metric| %>
              <% if @activity.metrics.include?(metric) %>
                <div id="<%= metric.name %>" class="activity-attribute ui-state-active">
                  <%= metric.name %>
                  <%= hidden_field_tag "activity[metrics][]", metric.name, :class => "activity-attribute-control" %>
                </div>
              <% else %>
                <div id="<%= metric.name %>" class="activity-attribute">
                  <%= metric.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="span3">
          <h3>Attributes</h3>
          <div id="available-activity-attribute-list" class="available-activity-facet-list">
            <% @activity_attributes.each do |attribute| %>
              <% if @activity.activity_attributes.include?(attribute) %>
                <div id="<%= attribute.name %>" class="activity-attribute ui-state-active">
                  <%= attribute.name %>
                  <%= hidden_field_tag "activity[activity_attributes][]", attribute.name, :class => "activity-attribute-control" %>
                </div>
              <% else %>
                <div id="<%= attribute.name %>" class="activity-attribute">
                  <%= attribute.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>


      </div>
    </div>

    <div class="row">
      <%= submit_tag "Save", :class => 'btn btn-primary' %>
      <%= link_to("Cancel", activities_path) %>
    </div>

  <% end %>
</div>