<div class="container">
  <div class="row">
    <h2><%= @activity.name %></h2>
    <div><%= @activity.activity_type.name %></div>

    <div><%= @activity.instructions %></div>
  </div>

  <div class="row">
    <div class="span3">
      <h2>Anatomy</h2>
      <ul>
        <% @activity.body_parts.each do |body_part| %>
          <li>
            <%= body_part.name%>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="span3">
      <h2>Implements</h2>
      <ul>
        <% @activity.implements.each do |implement| %>
          <li>
            <%= implement.name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="span3">
      <h2>Metrics</h2>
      <ul>
        <% @activity.metrics.each do |metric| %>
          <li>
            <%= metric.name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="span3">
      <h2>Attributes</h2>
      <ul>
        <% @activity.activity_attributes.each do |attribute| %>
          <li>
            <%= attribute.name %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>


  <%= link_to("Edit", edit_activity_path(@activity), :class => "btn btn-primary") %>

  <%= link_to("Activity List", activities_path) %>
</div>
