.container
  = form_for @body_part, :html => {:multipart => true} do |form|
    = form.label :name, 'Name'
    = form.text_field :name
    = form.label :region, 'Region'
    = form.select :region, BodyPart.all_regions, :selected => @body_part.region
    = form.label "body_part[newregion]", 'New Region'
    = text_field_tag "body_part[newregion]"
    = render :partial => 'shared/upload_image', :locals => { :form => form }
    = image_tag @body_part.image_url
    .row
      .btn-group
        = link_to "Cancel", body_parts_path, :class => "btn"
        = submit_tag "Save", :class => "btn btn-primary"
