<!DOCTYPE html>
<html>
  <head>
    <title>Iron Octopus</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render :partial => "feedback/new" %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav pull-right">
            <%= link_to("Feedback", "#", :class => "btn btn-primary", :id => "new-feedback-button") %>
          </div>
          <ul class="nav pull-right">
            <li><%= link_to("Home", :controller => :welcome) %></li>
            <li><%= session[:user_id].nil? ? link_to("Log In", new_session_path) : link_to("Log Out", :controller => :sessions, :action => :destroy)%></li>
            <li><%= link_to "Help",    '#' %></li>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="container"/>-->
      <%= yield %>
    <!--</div>-->
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <div class="pull-left">
            <div>© 2012 Iron Octopus, LLC. All Rights Reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
