<!DOCTYPE html>
<html>
  <head>
    <title>Iron Octopus</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'sheet', :media => 'print' %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <% unless current_user.nil? %>
            <ul class="nav pull-left">
              <% if current_user.clients.size > 0 %>
                <li><%= link_to("My Clients", clients_path(current_user)) %></li>
                <li><%= link_to("My Routines", user_routines_path(current_user)) %></li>
                <li><%= link_to("My Clients' Routines", routines_by_trainer_path(current_user)) %></li>
                <li><%= link_to("Activities", activities_path) %></li>
                <li><%= link_to("Implements", implements_path) %></li>
              <% else %>
                <li><%= link_to("My Routines", user_routines_path(current_user)) %></li>
              <% end %>
            </ul>
            <div class="nav pull-right">
              <%= link_to("Feedback", "#", :class => "btn btn-primary", :id => "new-feedback-button") %>
              <%= render :partial => "feedback/new" %>
            </div>
          <% end %>
          <ul class="nav pull-right">
            <li><%= link_to("Home", :controller => :welcome) %></li>
            <li><%= session[:user_id].nil? ? link_to("Log In", new_session_path) : link_to("Log Out", log_out_url) %> </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <div id="messages">
      <%= @messages %>
    </div>
    <div id="footer" class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <div class="pull-left">
            <div>© 2012 Iron Octopus, LLC. All Rights Reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
