.container
  #create-update-implement-form
    = form_for @implement do |form|
      = form.label :name, 'Name'
      = form.text_field :name, :class => 'required is_implement_name_unique', :minlength => "4", :maxlength => "64"
      %br/
      = form.label :category, 'Category'
      = form.select :category, Implement.all_categories, :selected => @implement.category
      = submit_tag "Save", :class => 'btn btn-primary'
