.container-fluid
  #create-update-implement-form.row-fluid
    #implement-basic-info.span3.well
      = form_for @implement do |form|
        = form.label :name, 'Name'
        = form.text_field :name, :class => 'required is_implement_name_unique', :minlength => "4", :maxlength => "64"
        = form.label :category, 'Category'
        = form.select :category, Implement.all_categories, :selected => @implement.category
        .btn-group
          = link_to "Cancel", user_path(current_user), :class => "btn btn-large"
          = submit_tag "Save", :class => "btn btn-large btn-primary"
