.container-fluid
  .row-fluid
    .span4.well
      %h3
        = @implement.category
      %h4
        = @implement.name
      .span4
        = link_to("All Implements", implements_path)
      - if can? :update, @implement
        .span2
          = link_to("Edit", edit_implement_path(@implement), :class => "btn btn-primary")
    .span6.well
      = image_tag @implement.image_url(:thumb)
